body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  margin: 0;
}

#main {
  margin: 8px;
}

h1, h2 {
  font-family: "Noto Sans JP", sans-serif;
}

header, footer {
  width: 100%;
  height: 2em;
  background-color: #9ACABE;
}

header p, footer p {
  line-height: 2em;
  padding-left: 0.5em;
  font-family: Muli, sans-serif;
  margin: 0;
  color: white;
}

header a {
  color: white;
}

.tab_wrap {
  width: 800px;
  margin: 0;
}

input[type="radio"] {
  display: none;
}

.tab_area {
  font-size: 0;
  margin: 0 10px;
}

.tab_area label {
  width: 150px;
  margin: 0 5px;
  display: inline-block;
  padding: 12px 0;
  color: #999;
  background: #ddd;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  transition: ease 0.2s opacity;
}

.tab_area label:hover {
  opacity: 0.5;
}

.panel_area{
  background: #fff;
}

.tab_panel{
  padding: 40px 0;
  display: none;
}

.tab_panel p {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

#panel3 {
  margin: 8px;
}
#tab1:checked ~ .tab_area .tab1_label {background: #F7CED6; color: #000;}
#tab1:checked ~ .panel_area #panel1 {display: block;}
#tab2:checked ~ .tab_area .tab2_label {background: #F7CED6; color: #000;}
#tab2:checked ~ .panel_area #panel2 {display: block;}
#tab3:checked ~ .tab_area .tab3_label {background: #F7CED6; color: #000;}
#tab3:checked ~ .panel_area #panel3 {display: block;}
